// CUSTOM VARIABLES
// Colors
$color-blue-primary: #00ade6;
$color-blue-secondary: #50bde9;
$color-blue-tertiary: #0096c6;
$color-green-primary: #6dd847;
$color-green-secondary: #96e27a;
$color-green-tertiary: #5eb73d;
$color-gray-primary: #f5f8f8;
$color-gray-secondary: #ecf0f3;
$color-gray-tertiary: #dae2e7;
$color-yellow-accent: #f9bc51;
$color-red-accent: #e74a4a;
