<mat-nav-list class="side-navigation">
  <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Hem</a>
  <a mat-list-item [routerLink]="['/dashboard/mina-fakturor']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Mina fakturor</a>
  <a mat-list-item [routerLink]="['/dashboard/min-profil']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Min profil</a>
  <a mat-list-item [routerLink]="['/dashboard/min-forbrukning']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Min förbrukning</a>
</mat-nav-list>