@import '../../../scss/global-custom-variables.scss';

.login-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.full-width-input {
  display: block;
  width: 100%;

  button {
    color: #fff;
  }
}